body{
    background-image: linear-gradient(rgb(255, 255, 255),#59ccff);
    height: 100vh;
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;

}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    height: 60vh;
}

.message{
    background-color:  #c8ffca;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10%;
}

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 80%;
    border: 2px solid black;
    height: 34px;
}
.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6ppx;
    height: 34px;
}

